
.download-card .nav-item a{
    font-size: 15px;
    font-weight: 500;
    color: #323030;
    width: fit-content;
    background: transparent;
    padding: 8px 15px;
    text-transform: capitalize;
    transition: all 0.3s ease;
    
}
.download-card .nav-item a:hover{
    color: #53bbc5 !important;
}
.download-card .nav-item a i{
    font-size: 20px;
    color: #323030;
    margin-right: 6px;
    vertical-align: middle;
    transition: all 0.3s ease;
}
.download-card .nav-item a:hover i{
    margin-right: 10px;
    color: #53bbc5
}
.download-card .nav-item a.active{
    background: transparent;
    color: #53bbc5 !important;
    padding-left: 20px;
}

.download-card .nav-item a.active i{
    color: #53bbc5 !important;
}


.leaves-card .nav-item a{
    font-size: 15px;
    font-weight: 500;
    color: #323030;
    width: fit-content;
    background: transparent;
    padding: 8px 15px;
    text-transform: capitalize;
    transition: all 0.3s ease;
    
  }
  .leaves-card .nav-item a:hover{
    color: #53bbc5 !important;
  }
  .leaves-card .nav-item a i{
    font-size: 20px;
    color: #ff9800;
    margin-right: 6px;
    vertical-align: middle;
    transition: all 0.3s ease;
  }
  .leaves-card .nav-item a:hover i{
    color: #ff9800;
  }
  .leaves-card .nav-item a.active{
    background: #edf9ff;
  }
