.payslip_body{
    height: 78vh !important;
    overflow-x: hidden;
    overflow-y: auto;
    padding-right: 10px;
}
.payslip_employee{
    padding-left: 10px;
    height: 70vh !important;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #dee2e6;
}
.slipgen button{
    border-radius: 10px !important;
   padding: 3px 16px !important;
    height: 35px;
}
.search_downbtn{
    height: 46px !important;
}
.slipgen .p-inputtext{
    border-radius: 10px !important;
}
.paypdf {
    height: 60vh !important;
    overflow-x: hidden;
    overflow-y: auto;
}
.payslip_employee .active {
    background: #e0ebff !important;
  }
  .payslip_employee .card{
      background: transparent !important;
  }
  .payslip_employee a p{
      color: #000 !important;
  }

 