

  .column {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    min-height: 400px;
  }

  .task {
    background-color: white;
    padding: 10px 10px 0 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
  }
  .pjtaskscroll .card{
    border: 1px solid #c6f9ff;
    padding: 0 !important;
    box-shadow: none !important;
  }
  .pjtaskscroll .card-header{
    background-color: #7ee4f1;
    border-bottom: 1px solid #e5e5e5;
    padding: 9px 15px;
    margin-bottom: 0 !important;
    font-weight: 600;
    font-size: 16px !important;
  }
  .pjtaskscroll .card .card-body{
    height: 68vh !important;
    overflow-y: auto;
    overflow-x: hidden;

  }

  .FormModal .css-mfqtdv{
    display: flex;
    flex-direction: column;
    pointer-events: auto;
    max-height: 90%;
    transform: scale(1);
    position: relative;
    width: 60vh;
    margin: 0 auto;
    margin-top: 10%;
    padding: 20px;
    border-radius: 10px;
  }
  .FormModal h2{
    font-size: 20px;
    font-weight: 600;
    color: #000;
    margin-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 15px;
  }

  .FormModal .MuiInputLabel-root{
    margin-bottom: 10px !important;
  }
  .FormModal .dropzone{
    border: 1px solid #c4c4c4;
    padding: 16.5px 14px;
    border-radius: 5px;
    text-align: center;
    font-size: 13px;
  }
  .task h3{
    display: block;
    margin: 0 0 0 0;
    padding: 6px 20px 6px 0;
    overflow: hidden;
    background-color: transparent;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    white-space: normal;
    overflow-wrap: anywhere;
  }
  .task h3 small, .task p span{
      font-size: 12px;
      color: #6d6d6d;
      font-weight: 400;
      margin-bottom: 3px;
      font-style: italic;
  }
  .taskBTN{
    position: relative;
    display: inline-flex;
    justify-content: end;
    width: 100%;
  }
  .taskBTN button{
    color: #a3a3a3;
    font-weight: 600;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 50%;
    border:0;
    z-index: 2;
  }
  .taskBTN button .p-button-icon{
    font-size: 13px !important;
  }
  .taskBTN .p-badge{
    position: absolute;
    top: -3px;
    right: -5px;
    font-size: 10px;
    background: transparent;
    color: #ff0000;
    font-weight: 600;
    z-index: 2;
    padding: 0;
  }
  .task p{
    display: block;
    margin: 0 0;
    padding: 0 0 6px 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #000;
  }
  .extraTask ol li{
    margin: 0 0 15px 0;
    padding: 0 0 6px 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #000;
    border-bottom: 1px dashed #e5e5e5;
  }
  .extraTask ol li a{
    display: block;
    color: #575757;
    margin-bottom: 5px;

  }
  .extraTask ol li:last-child{
    border-bottom: 0;
    margin-bottom: 0;
  }
  .scrollSubtask{
    max-height:450px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 10px;
    padding-right: 10px;
    padding-top: 10px;
  }
  .MuiInputLabel-root{
    line-height: 1 !important;
  }
  .MuiOutlinedInput-input{
    padding: 8px 14px !important;
    font-size: 14px !important;
    height: 30px !important;
    background-color: #fff !important;
  }

  .loopSubtask{
    margin-bottom: 15px !important;
    padding-bottom: 15px;
    position: relative;
  }
  .loopSubtask:first-child{
    border-bottom: 0 !important;
    margin-bottom: 0 !important;
  }
  .BTremove{
      position: absolute;
      top: -39px;
      right: 0;
      z-index: 1;
      border:0 ;
      background: transparent !important;
  }
  .task .p-dropdown {
        width: 184px;
        height: 30px;
        position: relative;
        border-radius: 0;
        font-size: 14px !important;
        border: 0;
    }
    .task .p-dropdown:focus{
        outline: 0 !important;
        box-shadow: none !important;
    }
    .task .p-inputtext {
        padding: 3px 5px !important;
        font-size: 13px !important;

    }
      .FormModal .p-inputtext, .FormModal .p-calendar, .FormModal .p-dropdown {
        width: 100% !important;
        height: 48px !important;
        border-radius: 5px !important;
        font-size: 16px !important;
      }
      .css-79ws1d-MuiModal-root {
        z-index: 11 !important;
    }
    .FormModal .p-inputtext{
        padding: 11px 15px !important;
    }
    .commentBody{

    }
    .commentBody ul{
        list-style: none;
        padding: 0;
        margin: 0;
        max-height:250px !important;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .commentBody ul li{
        padding: 10px 0;
        border-bottom: 1px dashed #e5e5e5;
        display: flex;
    }
    .com-user{
      align-items: center;
      display: flex;
      font-weight: 500;
      height: 45px;
      justify-content: center;
      -webkit-justify-content: center;
      min-width: 45px;
      width: 45px;
      border-radius: 50% !important;
      background-color: #f065481a;
      color: #f06548;
    }
    .commentBody ul li .com-text{
        margin-left: 10px;
        width: 100%;
    }
    .commentBody ul li .com-text h6{
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 5px;
        color: #000;
    }
    .commentBody ul li .com-text h6 span{
      margin-left: 10px;
      font-size: 12px;
      font-weight: 400;
      line-height: 20px;
      color: #9FADBC;
    }
    .commentBody ul li .com-text p{
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        color: #000;
        margin-bottom: 8px;
    }
    .commentBody ul li .com-text span a{
      font-size: 12px;
      font-weight: 400;
      line-height: 20px;
      color: #9FADBC;
      margin: 0 10px 0 0;
      color: #f06548 !important;
      text-decoration: underline;
    }
    .commentBody ul li .com-text p img{
      width: 180px;
      height: 180px;
      display: block;
      object-fit: cover;
      margin: 8px 0;
    }

    .commentBody h5{
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 5px;
      color: #000;
      margin-bottom: 20px;
      border-bottom: 1px solid #e5e5e5;
      padding-bottom: 10px;
  }
  .commentBody h5 span{
    font-size: 15px;
    display: block;
    font-weight: 400;
    line-height: 20px;
    color: #292929;
    margin-top: 8px;
  }

  .scrollModal{
    height: 420px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 8px;
    padding-top: 10px;
  }
  .loopRow .row{
    border-bottom: 1px dashed #e5e5e5;
    padding: 10px !important;
    background: #e9e9e9;
    margin: 10px 0;
  }
  @media (max-width: 1460px) {
    .extraTask small, .extraTask .small{
        font-size: 10px;
    }
    .extraTask ol, .extraTask ul {
      padding-left: 1rem !important;
    }
    .extraTask a {
      font-size: 13px;
    }
  }

  .scrollModal .css-feqhe6{
    margin-bottom: 12px;
  }
  .p-dropdown-panel{
    z-index: 9999 !important;
  }

  .projeSearch .form-select{
    border-radius:0 4px 4px 0 !important;
    border-color: rgba(0, 0, 0, 0.23) !important;
    border-left: 0 !important;
  }

  .projeSearch .MuiOutlinedInput-root{
     border-radius: 4px 0 0 4px !important;
     border-right: 0 !important;
  }
  .projeSearch .MuiOutlinedInput-root:focus{
    border-color: rgba(0, 0, 0, 0.23) !important;
    border-width: 1px !important;
  }

  .p-datepicker{
    z-index: 9999 !important;
  }

  .kanban-board .pjtaskscroll:first-child .card{
    border-color: #F3EDFF !important;
  }
  .kanban-board .pjtaskscroll:first-child .card-header{
    background: #F3EDFF;
    color: #4A00E5 !important;
  }
  .kanban-board .pjtaskscroll:nth-child(2) .card{
    border-color: #E6F4F4  !important;
  }
  .kanban-board .pjtaskscroll:nth-child(2) .card-header{
    background: #E6F4F4 ;
    color: #00918E !important;
  }
  .kanban-board .pjtaskscroll:nth-child(3) .card{
    border-color: #FFF7D8 !important;
  }
  .kanban-board .pjtaskscroll:nth-child(3) .card-header{
    background: #FFF7D8;
    color: #FDA700 !important;
  }
  .kanban-board .pjtaskscroll:nth-child(4) .card{
    border-color: #c0fff9 !important;
  }
  .kanban-board .pjtaskscroll:nth-child(4) .card-header{
    color: #08b5a4 !important;
    background: #c0fff9;
  }
  .kanban-board .pjtaskscroll:last-child .card{
    border-color: #E0F5D7 !important;
  }
  .kanban-board .pjtaskscroll:last-child .card-header{
    background: #E0F5D7;
    color: #5CB85C !important;
  }

  .task-red::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background: #ff6458;
    z-index: 1;
  }

  .task-green::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background: #5CB85C;
    z-index: 1;
  }
  .task-hold::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background: #ebdc12;
    z-index: 1;
  }
  .task-hold::before{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #e5e5e5 url(../../assets/images/hold.png) no-repeat center top;
    content: '';
    top: 0;
    left: 0;
    opacity: 0.15;
    background-size: contain;
  }


  .task-cancelled::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background: #d10000;
    z-index: 1;
  }
  .task-cancelled::before{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #e5e5e5 url(../../assets/images/cancelled.png) no-repeat center top;
    content: '';
    top: 0;
    left: 0;
    opacity: 0.15;
    background-size: contain;
  }

  .taskStatusBadge{
    font-size: 8px !important;
    padding: 3px 10px !important;
    line-height: 1 !important;
    height: auto !important;
    position: absolute;
    top: -9px;
    right: 0;
    border-radius: 0 0 0 10px;
    font-weight: 500 !important;
    letter-spacing: 0.5px;
    width: max-content;
  }

  [data-rbd-drag-handle-context-id="0"] {
    background-color: #fff !important;
  }

  .taskDetailsmodal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
    max-height:250px !important;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .taskDetailsmodal li{
    padding: 10px 0;
    border-bottom: 1px dashed #e5e5e5;
    display: flex;
    flex-direction: column;
    width: calc((100% - 20px) / 1);
  }
  .taskDetailsmodal li{
    color: #000;
    font-weight: 600;
    font-size: 14px;
    text-transform: capitalize;
  }
  .taskDetailsmodal li span{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #9e9e9e;
    margin-bottom: 6px;
    font-style: italic;
  }
  .dateRangediv{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
  }
  .dateRangediv .p-calendar, .dateRangediv .p-dropdown, .dateRangediv .p-inputtext, .dateRangediv .form-select{
    width: 180px;
    height: 38px !important;
    position: relative;
    border-radius: 0;
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px !important;
}
.dateRangedivText{
  height: 38px;
  width: 160px;
  position: relative;
  border-radius: 0;
  font-size: 13px !important;
  align-items: center;
  padding: 0 12px;
  background: #ffffff;
  border: 1px solid #d1d5db;
  border-left: 0;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}
.dateRangediv .p-inputtext{
  font-size: 13px !important;
}

/* .dateRangediv .p-calendar::placeholder,
.dateRangediv .p-dropdown::placeholder,
.dateRangediv .p-inputtext::placeholder,
.dateRangediv .form-select::placeholder{
  font-size: 13px !important;
} */
.modalTaskdetails{
  border: 1px solid #e5e7eb !important;
  margin-bottom: 40px;
}
.modalTaskdetails ul{
  display: flex;
  flex-wrap: wrap;
}
.modalTaskdetails ul li{
  display: flex !important;
  width: 48% !important;
  margin-bottom: 15px !important;
  padding: 0 0px;
  font-size: 12px !important;
  font-weight: 500 !important;
  line-height: 20px;
  color: #000;
}
.modalTaskdetails ul li span{
  width: fit-content !important;
  display: block !important;
  font-size: 13px !important;
  width: calc(100% - 130px) !important;
}
.modalTaskdetails ul li span:first-child{
  width: 130px !important;
  color: #858585 !important;
  font-weight: 400 !important;
}
.modalTaskdetails ul li:last-child{
  width: 100% !important;
}

.p-timeline.p-timeline-horizontal .p-timeline-event-opposite, .p-timeline.p-timeline-horizontal .p-timeline-event-content {
  padding: 0 !important;
  width: 125px !important;
  min-height: auto;
  overflow: hidden;
}
.p-timeline-event{
  min-height: auto !important;
}
.timeline_button{
  position: relative;
  padding: 0 25px;
}
.timeline_button .prvbtn{
  position: absolute;
  left: 0;
  top: 4px;
  z-index: 1;
  padding: 0;
  width: 15px !important;
  height: 16px !important;
  border-radius: 0;
  /* font-size: 7px; */
  border-color: #e9e9e9;
  background: #fff;
}
.timeline_button .nxtbtn{
  position: absolute;
  right: 0;
  top: 4px;
  z-index: 1;
  padding: 0;
  width: 15px !important;
  height: 16px !important;
  border-radius: 0;
  /* font-size: 7px; */
  border-color: #e9e9e9;
  background: #fff;
}

.nxtbtn .p-button-icon, .prvbtn .p-button-icon{
  font-size: 10px !important;
  padding: 0 !important;
}

.p-timeline .p-timeline-event-marker{
  width: .75rem;
  height: .75rem;
}

.p-timeline-event-content{
  font-size: 12px !important;
  overflow: hidden;
  position: relative;
  display: inline-block;
  margin: 0 5px 0 5px;
  text-align: left;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: pre-line;
  height: 38px;
}











.horizontal-timeline .items {
  border-top: 2px solid #e9ecef !important;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  flex-wrap: nowrap !important;
  transition: opacity 0.3s ease-in-out;

}

.horizontal-timeline .items .items-list {
  display: block !important;
  position: relative !important;
  text-align: center !important;
  padding-top: 10px !important;
  margin-right: 0 !important;
  margin-bottom: 10px !important;
}
.horizontal-timeline .items .items-list:last-child{
  width: inherit !important;
}
.horizontal-timeline .items .items-list p{
  margin-bottom: 0 !important;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  display: -webkit-box !important;
  -webkit-box-orient: vertical;
  width: 150px !important;
}
.horizontal-timeline .items .items-list .event-date {
  position: absolute !important;
  top: -12px !important;
  left: 0 !important;
  right: 0 !important;
  width: fit-content !important;
  margin: 0 auto !important;
  font-size: 11px !important;
}

/* @media (min-width: 1140px) {
  .horizontal-timeline .items .items-list {
    display: inline-block;
    width: 24%;
    padding-top: 45px;
  }

  .horizontal-timeline .items .items-list .event-date {
    top: -40px;
  }
} */

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

.items-list {
  margin-right: 20px;
}

.timebutton button{
  position: absolute;
  top: -54px !important;
  bottom: auto !important;
  color: #2196f3 !important;
  border-radius: 50% !important;
  background-color: #fff !important;
  width: 20px !important;
  height: 26px !important;
  z-index: 1;
}
.timebutton button:last-child{
  right: 0 !important;
}
.timebutton button.p-disabled{
  opacity: 0 !important;
}

.tprog{
  position: absolute;
  top: -7px;
  right: -15px;
}