@media screen and (max-width: 860px) {
    .sidebar{
        position: fixed !important;
        z-index: 9 !important;
    }
    .ps-collapsed{
        left: -250px !important;
        width: 250px !important;
    }
    .sidebar::before{
        content: '';
        position: fixed;
        width: 100%;
        height: 100%;
        top: 65px;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: -1;
    }
    .sidebar.ps-collapsed::before{
        display: none;
    }
    .topheader ul li:nth-child(1), .topheader ul li:nth-child(2){
        display: none !important;
    }
    .topheader{
        z-index: 99 !important;
    }
    .dash_calender{
        top: -130px !important;
        right: -25px !important;
    }
    .body_content.row{
        margin: 0 !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .dashboard_card{
        padding-right: 0 !important;
    }
    .table-scroll {
        height: 420px !important;
        overflow-y: auto !important;
        overflow-x: auto !important;
    }
    .dashboard_card table tr th, .taskover tr th{
        white-space: nowrap;
    }
    .ticketlist_Admin li {
        width: calc((100% - 45px) / 2) !important;
    }
    
}
@media screen and (max-width: 765px) {
    .p-dialog-content{
        height: 500px;
        overflow: hidden;
        overflow-y: scroll;
    }
}
@media screen and (max-width: 640px) {
    .ticketlist_Admin li {
        width: 100% !important;
    }
    .ticketlist li {
        width: calc((100% - 20px) / 2) !important;
    }
    .responsiveView{
        flex-direction: column !important;
    }
    .responsiveView .p-icon-field, .responsiveView .form-control{
        width: 100% !important;
    }
    .resp_scrinshot div{
        width: 48% !important;
    }
}
@media screen and (max-width: 360px) {
    
}
