
.admin_task th{
    position: sticky;
    top: -1px;
    z-index: 111;
    background-color: #000 !important;
    color: #fff !important;
}
.admin_task td:first-child{
    position: sticky;
    left: -1px;
    z-index: 1;
    background-color: #dfdfdf !important;
}
.admin_task tr:nth-child(odd) > td{
    background-color: #ffffff;
}
.admin_task tr:nth-child(even) > td{
    background-color: #ffffff;
}
.admin_task tr:nth-child(odd) > th{
    background-color: #ffffff;
}
.admin_task{
    box-shadow: none !important;
}
.task-body .table-responsive{
    max-height: 700px;
    padding-right: 30px;
}
/* ::-webkit-scrollbar {
    width: 0px;
    height: 9px;
  }
   
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
  }
   
  ::-webkit-scrollbar-thumb {
    background-color: #afafaf;
    outline: none;
    border-radius: 5px;
  } */

  .admin_task .p-button{
    padding: 3px 10px;
  }

  .admin_task .daydiv span {
    display: block;
    font-size: 13px;
    font-weight: 400;
}
.admin_task .daydiv span svg{
    font-size: 14px;
    vertical-align: middle;
    margin-right: 6px;
    position: relative;
    top: -2px;
}

.subtask-detailsTask{
    list-style: decimal !important;
    padding: 0;
    margin: 0;
    height: 60vh;
    overflow: hidden;
    overflow-y: auto;
  }
  .subtask-detailsTask li{
    border-bottom: 1px dashed #c2c2c2;
    padding-bottom: 12px;
    margin-bottom: 12px;
    margin-left: 18px;
    position: relative;
    list-style: decimal !important;
  }
  .subtask-detailsTask li p{
    padding: 0;
    display: inline-flex;
    flex-direction: column;
    width: 50%;
    font-weight: 400;
    margin-bottom: 8px;
    color: #000;
    font-size: 14px;
  }
  .subtask-detailsTask li p span{
    font-weight: 500;
    font-size: 13px;
    color: #8f8f8f;
    margin-bottom: 0;
    margin-right: 8px;
  }
  .subtask-detailsTask li .badge{
    position: absolute;
    top: 0;
    right: 10px;
  }
  .subtask-detailsTask li:last-child{
    border-bottom: 0;
  }

@media (max-width: 1560px) {
    .task-body .table-responsive {
        max-height: 428px !important;
        padding-right: 20% !important;
    }
}

.subtask_prio .p-tabview-nav {
  padding: 0;
  background: transparent;
  display: inline-flex; 
}
.subtask_prio .p-tabview-nav-link {
  border-color: transparent !important;
}
.subtask_prio .p-tabview-selected .p-tabview-nav-link{
  border-color: #06b6d4 !important;
  background-color: #8ee1e9;
}
.subtask_prio .p-tabview-nav-link .pi{
  color: #000;
}
.p-fieldset{
  position: relative;
}
.p-flags{
  position: absolute;
  top: 0;
  right: 2%;
  /* width: 100%; */
  font-size: 28px;
  color: #cd0000;
  display: block;
  text-align: right;
}
.p-flags2{
  position: absolute;
  top: 8%;
  right: 2%;
  /* width: 100%; */
  font-size: 18px !important;
  color: #cd0000;
  display: block !important;
  text-align: right;
}




/*-----------tasksheetTable------------------*/

.dailytaskemp{
  overflow: auto; /* Enable horizontal and vertical scrolling */
  max-width: 100%; /* Allow responsiveness */
  white-space: nowrap; /* Prevent cell wrapping */
  max-height: 76vh;
}
.dailytaskemp .employee-table {
  width: max-content; /* Expand table beyond viewport if needed */
  border-collapse: collapse;
}
.dailytaskemp .employee-table th,
.dailytaskemp .employee-table td {
  border: 1px solid #ddd;
  padding: 12px 0;
  text-align: center;
  width: 340px;
  white-space: wrap;
  vertical-align: top;
}

.dailytaskemp th {
  background-color: #0b929e;
  color: #fff;
}

.dailytaskemp .sticky-column {
  position: sticky;
  left: 0;
  background-color: #e9fff9;
  color: #000;
  z-index: 1;
  padding: 8px !important;
}

.weekend-row {
  background-color: #ffe6e6; /* Light red for weekend rows */
}

.weekend-cell {
  background-color: #ffcccc !important; /* Slightly darker red for weekend cells */
  font-weight: bold;
  padding: 10px !important;
}
.dailytaskemp .employee-table td ul{
  list-style: number;
  max-height: 57vh;
  overflow: hidden;
  overflow-y: auto;
}
.dailytaskemp .employee-table td ul li{
  text-align: left;
  margin-bottom: 6px;
  padding: 6px 0;
  border-bottom: 1px dashed #c9bdbd;
}
.dailytaskemp .employee-table td ul li a{
  color: #000 !important;
  position: relative;
} 
.dailytaskemp .employee-table td ul li p span{
  font-style: italic !important;
  color: #707070;
  font-size: 13px;
}
.dailytaskemp .employee-table td ul li p span.badge {
  color: #fff;
}
.dailytaskemp .employee-table td ul li:last-child{
  border: 0;
}
