
.bordmain{
    display: flex !important;
    gap: 16px;

}
/* .subboard{
    background-color: #fff;
    display: block;
    border-radius: 0;
    width: 292px;
    border: 1px solid #f1f1f1 !important;
    box-shadow: none !important;
}
.childboard{
    width: 100%;
    box-shadow: none !important;
}
.board-task{
    overflow: hidden;
    padding: 10px 10px 0;
    position: relative;
    background: #fff;
    border: 1px solid #e2e4e6;
    border-radius: 6px;
    box-shadow: none !important;
    margin: .35rem auto;

} */

.subboard {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border: 1px solid #f1f1f1 !important;
  border-radius: 0;
  box-shadow: none !important;
  width: 305px;
  overflow: hidden; /* Ensure proper scroll behavior */
  height: 78vh !important;
}

.childboard {
  flex: 1; /* Allow child to grow and fill */
  box-shadow: none !important;
}

.board-task {
  padding: 10px 10px 0;
  background: #fff;
  border: 1px solid #e2e4e6;
  border-radius: 6px;
  margin: 8px auto;
  width: 100%;
  position: relative;
}


.bordHeader {
  background-color: #7ee4f1;
  padding: 12px 15px;
}
.bordHeader h5{
  font-size: 18px !important;
  font-weight: 500;
  margin-bottom: 0 !important;
}
.subboard p{
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    line-height: 24px;
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #000;
    font-size: 13px;
    font-weight: 400;

}
.scroll-card{
  padding: 10px;
}
.scroll-card p {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #000;
  font-size: 13px;
  font-weight: 400;
}

.scroll-card p em {
  color: #8b8b8b;
  margin-right: 5px;
}

.subboard:first-child .bordHeader {
  background: #F3EDFF;
  color: #4A00E5 !important;
}

.subboard:nth-child(2) .bordHeader {
  background: #E6F4F4;
  color: #00918E !important;
}

.subboard:nth-child(3) .bordHeader {
  background: #FFF7D8;
  color: #FDA700 !important;
}

.subboard:nth-child(4) .bordHeader {
  background: #c0fff9;
  color: #08b5a4 !important;
}

.subboard:last-child .bordHeader {
  background: #E0F5D7;
  color: #5CB85C !important;
}


  .task-red::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background: #ff6458;
    z-index: 1;
  }

  .task-green::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background: #5CB85C;
    z-index: 1;
  }
  .task-hold::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background: #ebdc12;
    z-index: 1;
  }
  .task-hold::before{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../../assets/images/hold.png) no-repeat center top;
    content: '';
    top: 30px;
    left: 0;
    opacity: 0.15;
    background-size: 80%;
  }


  .task-cancelled::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background: #d10000;
    z-index: 1;
  }
  .task-cancelled::before{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../../assets/images/cancelled.png) no-repeat center top;
    content: '';
    top: 40px;
    left: 0;
    opacity: 0.15;
    background-size: 50%;
  }

  .list-taskunstyled{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .list-taskunstyled li{
    width: calc((100% - 62px) / 3);
    margin-bottom: 11px;
    padding: 0 0;
    color: #000;
    margin: 0 10px 15px 10px;
    font-size: 15px;
  }
  .list-taskunstyled li span{
    display: block;
    font-size: 14px;
    border-bottom: 1px dashed #e5e7eb;
    margin-bottom: 6px;
    color: #9fa6b2;
  }
  .subtaskb_det .badge{
    width: fit-content;
    color: #fff;
    border: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 5px 5px 0 0;
    font-size: 12px !important;
    letter-spacing: 0.65px;

  }
  .subtaskb_det .card-header{
    overflow: hidden;
    position: relative;
  }
  .list-group-item p{
    font-size: 14px;
    margin-bottom: 6px;
    color: #000;
  }
  .list-group-item p em{
    font-size: 13px;
    font-weight: 500;
    color: #8b8b8b;
  }
  .droppable-container {
    overflow: auto; /* Ensure only one container is scrollable */
}

.timeline-card .p-timeline-event-opposite{
    display: none;
}

.timeline-card small{
    font-size: 12px;
}

.oddBox:nth-of-type(odd) {
  background-color:#f5f5f5;
  border: 0 !important;
  }
      
  .oddBox:nth-of-type(even) {
  background-color:#fff;
  border-color: #e4e4e4 !important;
  }

  .list-group-item:nth-of-type(odd) {
    background-color:#f5f5f5;
    border-color: #e4e4e4 !important;
  }

  .list-group-item:nth-of-type(even) {
    background-color:#fff;
    border-color: #e4e4e4 !important;
    }

  .oddBox .p-button.p-button-icon-only {
    width: 1rem;
    height: 1rem;
    border-radius: 50% !important;
  }
  .oddBox .p-button.p-button-icon-only span{
    font-size: 10px;
  }

  .cardNum{
    font-size: 50px;
    font-weight: 700;
    line-height: 1;
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #f44336;
    position: absolute;
    opacity: 0.65;
    top: -15px;
    left: -15px;
  }

  .timeline-card .p-timeline .p-timeline-event-marker {
    border: 2px solid orange;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    background-color: #ffcd71;
}

.timeline-card .p-timeline .p-timeline-event-connector {
  background-color: orange;
}

.example-1{
  animation: shadow-pulse 1s infinite;
  border-radius: 2px;
}

@keyframes shadow-pulse
{
  0% {
    box-shadow: 0 0 0 0px rgba(255, 0, 0, 0.4);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
  }
}

@keyframes shadow-pulse-big
{
  0% {
    box-shadow: 0 0 0 0px rgba(255, 0, 0, 0.3);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(255, 0, 0, 0);
  }
}


/*-----------tasksheetTable------------------*/

.tasksheetTable{
  overflow: auto; /* Enable horizontal and vertical scrolling */
  max-width: 100%; /* Allow responsiveness */
  white-space: nowrap; /* Prevent cell wrapping */
  max-height: 76vh;
}
.tasksheetTable .employee-table {
  width: max-content; /* Expand table beyond viewport if needed */
  border-collapse: collapse;
}
.tasksheetTable .employee-table th,
.tasksheetTable .employee-table td {
  border: 1px solid #ddd;
  padding: 8px 0 0 0;
  text-align: center;
  width: 320px;
  white-space: wrap;
}
.tasksheetTable .employee-table td{
  vertical-align: top;
}
.tasksheetTable .sticky-header {
  position: sticky;
  top: 0;
  background-color: #0b929e;
  color: #fff;
  z-index: 2; /* Ensure headers stay above content */
}

.tasksheetTable .sticky-column {
  position: sticky;
  left: 0;
  background-color: #e9fff9;
  color: #000;
  z-index: 1;
  padding: 8px !important;
  vertical-align: middle !important;
}

.weekend-row {
  background-color: #ffe6e6; /* Light red for weekend rows */
}

.weekend-cell {
  background-color: #ffcccc !important; /* Slightly darker red for weekend cells */
  font-weight: bold;
  padding: 10px !important;
}
.tasksheetTable .employee-table td ul{
  list-style: number;
 
}
.tasksheetTable .employee-table td ul li{
  text-align: left;
  margin-bottom: 6px;
  padding: 6px 0;
  border-bottom: 1px dashed #c9bdbd;
  color: #000 !important;
}
.tasksheetTable .employee-table td ul li a{
  color: #000 !important;
  position: relative;
}
.tasksheetTable .employee-table td ul li:last-child{
  border: 0;
}

.countPro{
  display: flex;
  list-style: none;
  justify-content: space-between;
  background: #087e89;
  padding: 0 10px;
  margin-top: 5px;
  width: 100%;
}
.countPro li{
  font-size: 14px;
  font-weight: 400;
}
.countPro li span{
  font-weight: 500;
}
.countPro li small{
  color: #b5e9e9;
}


.totaltaskUseral{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.totaltaskUseral li{
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: #000;
  
}
.totaltaskUseral li small{
  color: #000; 
  font-weight: 400;
  display: block;
  font-size: 12px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #c7c7c7;
}

.tasksheetTable li p span{
  font-style: italic !important;
  color: #707070;
  font-size: 13px;
}

.tasksheetTable li p span.badge {
  color: #fff;
}

.misses_image{
  position: absolute;
  top: 0;
  right: 0;
  font-size: 25px;
  color: #ff6458;
  line-height: 1;
}

.misses_image2{
  font-size: 17px;
  color: #ff0000;
  line-height: 1;
}